.Register > form {
    width: 250px;
}

.Register input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 20px 0;
}

.Register button {
    width: 100%;
    margin: 10px 0 20px 0;
}

.Register span {
    color: red;
    margin: 0 20px;
    position: absolute;
}